'''TEMPLATE: fill this in'''

# The unique Charmhub library identifier, never change it
LIBID = $LIBID  # $ TEMPLATE: Filled in by ./scripts/init.sh

# Increment this major API version when introducing breaking changes
LIBAPI = {{ version }}

# Increment this PATCH version before using `charmcraft publish-lib` or reset
# to 0 if you are raising the major API version
LIBPATCH = {{ revision }}

{{ py }}

