'''This is a library providing a utility for unit testing event sequences with the harness.
'''

# The unique Charmhub library identifier, never change it
LIBID = "884af95dbb1d4e8db20e0c29e6231ffe"

# Increment this major API version when introducing breaking changes
LIBAPI = {{ version }}

# Increment this PATCH version before using `charmcraft publish-lib` or reset
# to 0 if you are raising the major API version
LIBPATCH = {{ revision }}

{{ py }}

